/* nav bar */
#navBar {
    background-color: white;
    display: flex;
    font-size: 35px;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-around;
    text-align: center;
    font-family: sans-serif;
    text-decoration: underline;
    text-decoration-color: darkblue;
}
#navMountain {
    text-align: center;
}
body {
    background-image: url("images/long_mountain_top.jpeg");
    background-color: rgb(44, 65, 97);
    background-repeat: no-repeat;
    background-size: contain;
}
#navBar div:hover {
    background-color: gray;
}
/* ------------------------------------------------ */





/* second container with img text and social media icons */
#second_container {
    background-color: white;
    display: flex;
    align-items: center;
    margin-top: 200px;
    margin-left: 250px;
    margin-right: 250px;
    padding-left: 100px;
    padding-top: 60px;
    padding-bottom: 40px;
}
#luna_img {
    width: 250px;
}
#sub_container {
    display: flex;
}
.social_icons {
    margin-top: 30px;
    width: 50px;
    margin-left: 300px;
}
#social_box {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}
#container_text {
    margin-left: 100px;
    font-size: 40px;
    margin-bottom: 80px;
    margin-top: 50px;
}
#name {
    flex-direction: row;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 40px;
    margin-bottom: 80px;
}
#age {
    margin-top: 40px;
    margin-bottom: 20px;
}
#number {
    margin-top: 20px;
}
.sub_content_text {
    font-size: 25px;
}
#tip {
    margin-top: 40px;
    font-size: 15px;
    color: gray;
}
/* ------------------------------------------------------- */





/* Cards and titles */
#card_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-family: sans-serif;
    color: white;
    margin-top: 100px;
    margin-bottom: 150px;
}
.cards img {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    width: 100px;
}
.cards {
    background-color: rgb(65, 65, 158);
    padding-top: 50px;
    padding-bottom: 40px;
}
.card_title_text {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: underline;
    text-decoration-thickness: 7px;
    text-decoration-color: rgb(30, 16, 82);
}
.cards .card_text {
    font-size: 20px;
    width: 360px;
    padding-top: 100px;
    text-decoration: none;
    font-weight: none;
    padding-left: 30px;
    padding-right: 30px;
}
/* -------------------------------------------------------------- */



#credits {
    font-size: 15px;
    background-color: rgb(63, 63, 63);
    color: grey;
    padding-top: 100px;
}

